<div class="footer">
    <div class="resize">
      <div>
        <p class="footer_logo"><a href="<{changeurl url='index.php' site_rewrite=$site_rewrite}>"><img src="/template/images/logot.png" width="415" height="35" border="0" alt="logo" /></a></p>
        <p>Copyright &copy; <{$site_copyright}> <a href="http://www.w3cview.com/">w3cview.com</a>. All Rights Reserved<br />
          <a href="<{changeurl url='index.php?mod=about' site_rewrite=$site_rewrite}>">关于我们</a> | <a href="<{changeurl url='index.php?mod=contact' site_rewrite=$site_rewrite}>">联系我们</a> | 您是第<{$site_hits}>个访问者</p>
      </div>
    </div>
    <p class="clr"></p>
  </div>